* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#input-field {
    font-size: 3rem;
    font-weight: 300;
    border-color: blueviolet;
    margin-top: 4rem;
    border-width: .8rem;
    border-bottom-width: 0.7px;
    border-top-width: 0.7px;
}

#input-field::placeholder {
    font-weight: 300;
    opacity: 0.3;   
}

#navi {
    background: linear-gradient(200deg, rgba(211, 122, 255 ,0.5) 0%, rgba(248,244,252,1) 100%, rgba(255,255,255,1) 100%);
    box-shadow: 1px 0px 4rem gray;
}

#logo {
    float: right;
    margin-top: -6.5rem;
    margin-right: 2rem;
}

#display {
    font-size: 4rem;
    letter-spacing: 3px;
    padding-top: 1.5rem;
    margin-left: 1.5rem;
}

#hero {
    display: flex;
    justify-content: center;
    width: 100%;
}

#body {
    border-radius: 3rem;
    background-color: rgb(248, 244, 252);
    margin-top: 7rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 85%;
}

#card {
    box-shadow: 0 0 2rem rgb(173, 216, 230);
    border-radius: .7rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 40rem;
    align-items: center;
}

#card:hover {
    cursor: pointer;
}

#card:active {
    box-shadow: none;
}

#card-body {
    white-space: pre-wrap;
    margin-left: 2rem;
    margin-right: 2rem;
}

#thumbnail {
    border: 2px solid rgb(138, 43, 226);
    border-radius: 2rem;
    margin-top: 10%;
    width: 50rem;
}

#line {
    background-color: blueviolet;
    height: .2rem;
}

#line1 {
    background-color: blueviolet;
    height: .4rem;
}

#title {
    font-size: 2.7rem;
    font-weight: 400;
    text-align: center;
    color: rgb(52, 0, 112);
}

#title:active {
    color: hotpink;
}

#video-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 3rem;
    margin-top: 4rem;
    width: 100%;
    height: 30rem;
    border-radius: 2rem;
    background: linear-gradient(20deg, rgba(211, 122, 255 ,0.5) 20%, rgba(248,244,252,1) 100%, rgba(255,255,255,1) 100%);
}

#videobox {
    margin-top: 5rem;
    width: 100%;
    height: 25rem;
    background-color: rgba(248,244,252,1);
    border-radius: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#video {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

#video-title {
    padding-top: 3rem;
    font: 3rem sans-serif;
    white-space: pre-wrap;
    padding-left: 3rem;
    padding-right: 3rem;
}

#video-description {
    padding-left: 3rem;
    padding-right: 3rem;
    word-wrap: break-word;
    font-size: 2.4rem;
    font-weight: 400;
}

#footer {
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin-top: 6rem;
    background: linear-gradient(20deg, rgba(211, 122, 255 ,0.5) 40%, rgba(248,244,252,1) 100%, rgba(255,255,255,1) 100%);
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
}


@media (min-width: 400px) {
    #video-container {
        margin: 4rem auto;
        width: 85%;
    }
    #body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    #card {
        border-radius: 2rem;
    }
}

@media (min-width: 700px) {
    #videobox {
        height: 40rem;
    }
    #card {
        height: 50rem;
        overflow-y: hidden;
    }
}

@media (min-width: 950px) {
    #videobox {
        height: 70rem;
    }
    #card {
        height: 60rem;
    }
}